<h1><%= @book.title %> (<%= @book.pages %> pages)</h1>
<h2>Authors:</h2>
<ul>
<% @book_authorships.each do |authorship| %>
<li><%= link_to "#{authorship.author.name} (b. #{authorship.author.birth_year})" , author_path(authorship.author) %>
<%= button_to "Remove author", [@book, authorship], {:method => :delete}  %>
<% end %>
</ul>

<%= form_for [@book, @authorship] do |f| %>
<%= f.label :author_id %>
<%= f.collection_select :author_id, Author.all, :id, :name %>
<%= f.submit 'Add Author'%>
<% end %>
