<!DOCTYPE html>
<html>
  <head>
    <title>FullSnackRailsPractice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ol>
      <li> <%= link_to 'Books Index', books_path %> </li>
      <li> <%= link_to 'Authors Index', authors_path %></li>
    </ol>
    <hr>
    <%= yield %>
  </body>
</html>
